<%- include('./partials/header.ejs') %>

    <div class="container">
        <div class="btn" onclick="openPopup('addPopup')">Add New Book</div>
        <!-- Add Book Popup -->
        <div id="addPopup" class="popup">
            <div class="popup-content">
                <span class="close-btn" onclick="closePopup('addPopup')">&times;</span>
                <h2>Add New Book</h2>
                <form id="addform" action="/add" method="post">
                    <input type="text" name="bookTitle" placeholder="Book Title" required>
                    <input type="text" name="bookAuthor" placeholder="Author" required>
                    <input type="date" name="bookReadDate" required>
                    <input type="number" name="bookRatings" placeholder="Rating (1-5)" min="1" max="5" required>
                    <input type="text" name="bookReviews" placeholder="Review">
                    <input type="text" name="bookSummary" placeholder="Summary">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div class="list_container">
            <div class="bookGrid">
                <% if (books.length > 0) { %>
                    <% for(let book of books) { %>
                    <div class="bookCard">
                        <a href="/book/<%= book.id %>">
                            <img src="<%= book.cover_url %>" alt="<%= book.title %>" class="bookCover">
                        </a>
                        <h3 class="bookTitle"><%= book.title %></h3>
                        <p class="bookAuthor"><%= book.author %></p>
                        <p class="bookRating">⭐ <%= book.ratings %> / 5</p>
                        
                    </div>
                    <% } %>
                <% } else { %>
                    <p>No Books Found, Add New Book.</p>
                <% } %>
            </div>
        </div>
    </div>

<%- include('./partials/footer.ejs') %>